*{

margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins', sans-serif;

} 
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../assets/banner2.png);
    background-size: cover;
    background-position: center;

}   

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;

}

.logo{
    width: 140px;
    cursor: pointer;

}
.nav-links li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;

}
.nav-links li a{
    text-decoration: none;
    color: #fff;

}
.register-btn{
    background: #fff;
    color: #000;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;

}

.container{
    padding: 7%;

}
.header h1{
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 22%;
}

.search-bar{
    background: #fff;
    width: 70%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}

.search-bar form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.search-bar form input{
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}

.search-bar form button{
    background: #ff5361;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}
.search-bar form button img{
    width: 15px;
    margin-top: 7px;

}

.location-input{
    flex: 1;
}

.search-bar form label{
    font-weight: 600;

}

/*------------------exclusives---------------*/

.sub-title{
    margin: 50px 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
}

.exclusives{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;

}

.exclusives div img{
    width: 100%;
    border-radius:  10px;

}

.exclusives div{
    position: relative;
}

.exclusives div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;


}

/*-------------------Trending Places---------*/

.trending {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;

}

.trending div img{
    width: 100%;
    border-radius: 10px;

}
.trending h3{
    font-weight: 600;
    margin-top: 10px;

}

/*------------------Call To Action----------*/

.cta{

    margin: 80px 0;
    background-image: linear-gradient(to right, #3f2321, transparent), url(assets/rest-2.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: #fff;



}


.cta h3{

    font-size: 4vw;
    line-height: 5.3vw;
    font-weight: 500;
}

.cta p{
        font-size: 18px;
        margin: 10px 0;
}

.cta-btn{
    background: #ff5361;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 8px;
    margin-top: 20px;
    display: inline-block;
}


/*-----Diner Stories-----*/

.stories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;


}

.stories div img{
    width: 100%;
    border-radius: 10px;

}

.stories p{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 26px;
}



