 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&family=Spline+Sans:wght@400;500;600;700&display=swap');

 :root{

    --primary-color:#2c3855;
    --primary-color-dark:#435681;
    --text-dark: #333333;
    --text-light: #767268;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;

 }
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

 }

 .section_container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;

 }
 

 .section_header{

    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
    text-align: center;

 }

a{
    text-decoration: none;
}

img{
    width: 100%;
    display: flex;

}

 body {
font-family: "Poppins", sans-serif;

 }

 nav{

    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
 }

 .nav_logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);

 }

.nav_links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a {
    font-weight: 500;
    color: var(--text-light);
    transition: 0.3s;
}

.link a:hover {
    color: var(--primary-color);

}

.header__container {
    padding: 1rem 1rem 5rem 1rem;
  }

  .header__image__container {
    position: relative;
    min-height: 500px;
    background-image: linear-gradient(
        to right,
        rgba(44, 56, 85, 0.9),
        rgba(100, 125, 187, 0.1)
      ),
      url("assets/header.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
  }


  .header__content {
    max-width: 600px;
    padding: 5rem 2rem;
  }

  .header__content h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 600;
    color: var(--white);
  }

  .header__content p {
    color: var(--extra-light);
  }

  .booking__container {
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 6rem);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 3rem 2rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  }

  .booking__container form {
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .booking__container .input__group {
    width: 100%;
    position: relative;
  }

  .booking__container label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
    pointer-events: none;
    transition: 0.3s;
  }

  .booking__container input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--primary-color);
    color: var(--text-dark);
  }

  .booking__container input:focus ~ label {
    font-size: 0.8rem;
    top: 0;
  }

  .booking__container .form__group p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: var(--text-light);
  }

  .booking__container .btn {
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
  }

  .booking__container .btn:hover {
    background-color: var(--primary-color-dark);
  }

  .popular__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  